@import "/vendor/beaker-app-stdlib/css/common.css";
@import "/vendor/beaker-app-stdlib/css/fontawesome.css";

body {
  font-size: 12px;
  background: #fff;
  --border-color: #d4d7dc;
  border-left: 1px solid #aaa;
  min-height: 100vh;
}

#monaco-editor {
  height: calc(100vh - 63px);
}

/* editor style tweaks */
.monaco-editor .line-numbers {
  color: #999 !important;
}
.monaco-editor .current-line ~ .line-numbers {
  color: #222 !important;
}